@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* 
    A- Variables Styles .
    B- Style Genaral Classes .
 */
// A- Variables Styles
// Palette Color
:root {
  --white-color: #ffffff;
}
$font-opensans: "Open Sans", sans-serif;

// B- Style Genaral Classes .
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: ltr;
  background-color: var(--white-color);
  font-family: $font-opensans;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.clearfix {
  clear: both;
}
